<!DOCTYPE html>
<html>
<head>
	<title>About being a Ninja</title>
</head>
<body>
	<h1>What does it mean to be a ninja at the dojo?</h1>
	<p>We strive for teaching our students the most up-to-date programming technologies through effective methods. Our dynamic curriculum has been refined and optimized over the last ten years by our founding members-a team of seasoned software developers and tech executives.</p>
	<p>“The curriculum will give you everything you need to succeed, but the motivation and drive must come from within. Above anything else, your attitude will be the greatest factor in how successful you will be.”</p>
	<h2>Register <a href="/dojos">here!</a></h2>
</body>
</html>